<div class="alert alert-warning" data-bind="text: warningMessage, visible: showWarning() && (!isReadyToFlashFromFile() || !isReadyToFlashFromURL())"></div>
<div class="alert alert-info" data-bind="text: infoMessage, visible: showInfo()"></div>

<div class="pull-right">
    <button class="btn btn-small" data-bind="click: showPluginConfig" title="{{ _('Plugin Configuration') }}"><i class="icon-wrench"></i></button>
</div>

<h3>{{ _('Firmware Updater') }}</h3>

<form class="form-horizontal">

    <h4>{{ _('Hex File') }}</h4>

    <div class="control-group">
        <label class="control-label">{{ _('... from File') }}</label>
        <div class="controls controls-row">
            <div class="span8">
                <div class="input-group controls-row">
                    <span class="span3">
                        <span class="btn input-group-btn fileinput-button">
                            <span>{{ _('Browse...') }}</span>
                            <input id="settings_firmwareupdater_selectHexPath" type="file" name="file" accept=".hex" data-url="{{ url_for("plugin.firmwareupdater.flash_firmware_with_path") }}">
                        </span>
                    </span>
                    <span class="span9">
                        <input class="input input-block-level" type="text" data-bind="value: hexFileName" disabled>
                    </span>
                </div>
            </div>
            <div class="span4">
                <button class="btn btn-primary btn-block" data-bind="click: startFlashFromFile, css: {disabled: !isReadyToFlashFromFile()}">{{ _('Flash from File') }}</button>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('... from URL') }}</label>
        <div class="controls controls-row">
            <div class="span8">
                <input class="input-block-level" type="text" data-bind="value: hexFileURL">
            </div>
            <div class="span4">
                <button class="btn btn-primary btn-block" data-bind="click: startFlashFromURL, css: {disabled: !isReadyToFlashFromURL()}">{{ _('Flash from URL') }}</button>
            </div>
        </div>
    </div>

    <h4>{{ _('Printer Settings') }}</h4>

    <div class="control-group" title="{{ _('Select the serial port where your printer is connected') }}">
        <label class="control-label" for="connection_ports_flash" data-bind="css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()">{{ _('Serial Port') }}</label>
        <div class="controls">
            <select id="connection_ports_flash" data-bind="options: connection.portOptions, value: selectedPort, css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()"></select>
        </div>
    </div>

    <hr>

    <button id="b_check_for_updates" class="btn btn-block" data-bind="click: checkForUpdates, visible: !updateAvailable()">{{ _('Check for updates') }}</button>
    <button id="b_update_firmware" class="btn btn-block btn-success" data-bind="click: flashUpdate, visible: updateAvailable()">{{ _('Update Firmware') }}</button>

</form>

<div id="settings_plugin_firmwareupdater_configurationdialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Plugin Configuration') }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group" data-bind="css: {error: pathBroken, success: pathOk}">
                <label class="control-label">{{ _('Path to Avrdude') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-block-level" data-bind="value: configPathAvrdude">
                        <button class="btn" type="button" data-bind="click: testAvrdudePath">{{ _('Test') }}</button>
                    </div>
                    <span class="help-block" data-bind="visible: pathBroken() || pathOk, text: pathText"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Path to avrdude.conf') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: configPathAvrdudeConfig">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" data-bind="click: onConfigHidden" aria-hidden="true">{{ _('Cancel') }}</button>
        <button class="btn btn-primary" data-bind="click: savePluginSettings" aria-hidden="true">{{ _('Save') }}</button>
    </div>
</div>

